/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    box-sizing:border-box;
}
body{
    margin: 10px;
    font-size:36px;
   padding: 5px;
}

header{
    background: #a3ee97a3 url(../images/flywheel.jpg) 0px 0% no-repeat;
    background-size: 100%;
    min-height: 125px; 
    padding:5px; 
}
nav{
    text-align: center;
}
h1{
    color: #ffffff;
    font-variant: small-caps;
    text-align:center;
    font-size: 110%;
   color: #ecbcbc;
   text-shadow: 0px 2px 3px #1b1818;
   margin-bottom: 3px
}
h2{
    color: #0c5e04;
    font-variant: small-caps;
    font-size: 150%;
}
a{
   background-color: #ffffff;
   color: #04045b;
   text-align:center;
   font-size:16px;
}
nav a{
    display: inline-block;
   border-radius: 20px;
   margin-right: 15px;
   margin-bottom:10px;
   padding: 7px 0 0 0;
   text-decoration: none;
   width: 200px;
   height: 40px;
   font-size: 25px;
   background-color: #ecbcbcb8;
   color: #000000;
}
.left{
    float:left;
    width: 25%;
   display: inline-block;
   background-color: #ecbcbcb8;
    
}
img{
    display: block;
   border: 2px solid black;
   width: 80%;
   margin: 10px auto 10px;
}
.right{
    float:right;
    width: 75%;
   padding: 20px;
   font-size: 16px;
}

.active{
    background-color:#ffffff;
}
table{
    border-collapse: separate;
    border-spacing:2px;
    font-family:Futura, 'Geneva', Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    width: 85%;
    margin: 15px auto 0;
    border-radius: 5px 5px 0px 0px;
}
th{
    background-color: #b678dc42;
    background: -webkit-linear-gradient(to right, #edb2b2d9 30%, #71c34ebd);
    background: -moz-linear-gradient(to right, #edb2b2d9 30%, #71c34ebd);
    background: linear-gradient(to right, #edb2b2d9 30%, #71c34ebd);
    border:2px solid #030407c4;;
    border-bottom: 3px solid #030407;
    font-variant: small-caps;
}

tr{
    opacity: 0.8;
}
tr:hover{
    opacity:1;
}
td{
    background-color: #b678dc42;
     -moz-border-radius: 2px;
    border-radius: 2px;
    color:#060624;
    padding:5px;
    text-shadow: 1px 1px 5px #3a117c40;
}
td:nth-child(2), td:nth-child(3){
text-align: center;
}

tr:first-child>th:first-child {
    border-radius: 5px 5px 0px 0px; 
    text-align:left; 
}

tr:first-child>th:last-child, th:nth-child(2){
    border-radius: 5px 5px 0px 0px;  
}


































    

